In [12]:
import numpy as np
import pandas as pd
df=pd.read_csv('Diagnostic_Laboratory.csv')
df

,SNo,State Name,District Name,ADDL,Person Name,Mobile,Contact No,Fax No,EMail,Address
0,1,CHANDIGARH,NaN,CHANDIGARH,CHANDIGARH,NaN,NaN,NaN,NaN,CHANDIGARH
1,2,GOA,NaN,DISEASE INVESTIGATION UNIT,Dr. U. V. T. Pedneka,9.890720e+09,8.322463e+07,8.322463e+07,NaN,"DISEASE INVESTIGATION UNIT, Directorate of Animal"
2,3,GUJARAT,NaN,Poultry Disease Investigation Lab,Dr.M.G.Prajapati,2.637258e+09,2.637258e+09,2.637258e+09,nic@nic.in,Poultry Disease Investigation Office Veterinar...
3,4,HARYANA,NaN,District Disease Diagnostic Lab. Deptt of Animal,Dr Rupesh Yadav,1.274226e+09,1.274226e+09,1.274226e+09,rupesh.yadav@gmail.com,"DDDL, Govt. Veterinary. Hospital Deptt of Anim..."
4,5,HARYANA,NaN,HARYANA,HARYANA,NaN,NaN,NaN,NaN,HARYANA
...,...,...,...,...,...,...,...,...,...,...
95,96,ANDHRA PRADESH,Visakhapatnam,"ADDL,Visakhapatnam","Dr. S. Nagamani, Assistant Director (AH)",9.989933e+09,8.912754e+09,8.912754e+09,addlvizag@gmail.com,"Assistant Director (AH), Animal Disease Diagno..."
96,97,ANDHRA PRADESH,Vizianagaram,"ADDL,Vizianagaram","B.JANAKIRAMA-GUPTA, ASSISTANT DIRECTOR",9.989933e+09,8.922255e+09,8.922255e+09,addlvzm@gmail.com,"Animal Disease Diagnostic Laboratory, V.T.AGRA..."
97,98,ANDHRA PRADESH,Warangal,"ADDL,Warangal","Dr. K. Vijaya Praveen, M.V.Sc., Asst. Director...",9.989997e+09,9.989997e+09,NaN,addlwaranagal@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
98,99,ANDHRA PRADESH,West Godavari,"ADDL,Eluru",Assistant Director (AH),9.989933e+09,8.812241e+09,8.812241e+09,ramk61@rediffmail.com,Assistant Director (AH)Animal Disease Diagnost...
99,100,ANDHRA PRADESH,Y.S.R.,"ADDL,Kadapa","Dr. D.P.V.RAMANA, M.V.Sc., Assistant Director ...",9.989997e+09,8.562277e+09,8.562277e+09,nagendraaddl@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."

In [13]:
df.dropna()

,SNo,State Name,District Name,ADDL,Person Name,Mobile,Contact No,Fax No,EMail,Address
35,36,ANDHRA PRADESH,Adilabad,"ADDL, Adilabad",Dr. D.P.V.RAMANA,9.989997e+09,8.732230e+09,8.732230e+09,addladilabad@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
37,38,ANDHRA PRADESH,Anantapur,"ADDL,Anantapur","Dr. N.Ramachandra ,Assistant Diractor (AH)",9.985030e+09,8.554243e+08,8.554243e+09,dr.ramachandra.vet@gmail.com,"Animal Disease Diagnostic Laboratory , Sainaga..."
44,45,ANDHRA PRADESH,Chittoor,"ADDL,Chittoor","Dr.G.Padmavathi,Assistant Director(AH),",9.989997e+09,8.572235e+09,8.572235e+09,Padmavathigundlapalli03@gmail.com,"Animal Disease Diagnostic Laboratory, VPC Camp..."
50,51,ANDHRA PRADESH,East Godavari,"ADDL,Kakinada","Dr. M.B.V.RAMA PRASAD, M.V.Sc., Assistant Dire...",9.989933e+09,8.842375e+09,8.842375e+09,addlkakinada@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
53,54,ANDHRA PRADESH,Guntur,"ADDL,Guntur","Dr. K. Prasuna, Assistant Director",9.989933e+09,8.632322e+09,8.632322e+09,adaddlguntur@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
62,63,ANDHRA PRADESH,Krishna,"ADDL,Vijayawada","Dr.K.Nagesh babu,M.V.Sc,Assistant Director(AH)",9.989933e+09,8.662480e+09,8.662480e+09,addlvja@gmail.com,"O/o Assistant Director,ADDL,VH Campus,Labbipet..."
78,79,ANDHRA PRADESH,Prakasam,"ADDL,Ongole","Dr.U.V.N.Malleswara Rao, Assistant Director(AH)",9.989933e+09,8.592238e+09,8.592238e+09,drmallivet@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
89,90,ANDHRA PRADESH,Sri Potti Sriramulu Nellore,"ADDL,Nellore","Dr. C. Pavan Kumar,Assistant Director(AH)",9.989933e+09,8.612301e+09,8.612301e+09,addlnellore@yahoo.com,"Animal Disease Diagnostic Laboratory, Railway ..."
95,96,ANDHRA PRADESH,Visakhapatnam,"ADDL,Visakhapatnam","Dr. S. Nagamani, Assistant Director (AH)",9.989933e+09,8.912754e+09,8.912754e+09,addlvizag@gmail.com,"Assistant Director (AH), Animal Disease Diagno..."
96,97,ANDHRA PRADESH,Vizianagaram,"ADDL,Vizianagaram","B.JANAKIRAMA-GUPTA, ASSISTANT DIRECTOR",9.989933e+09,8.922255e+09,8.922255e+09,addlvzm@gmail.com,"Animal Disease Diagnostic Laboratory, V.T.AGRA..."
98,99,ANDHRA PRADESH,West Godavari,"ADDL,Eluru",Assistant Director (AH),9.989933e+09,8.812241e+09,8.812241e+09,ramk61@rediffmail.com,Assistant Director (AH)Animal Disease Diagnost...
99,100,ANDHRA PRADESH,Y.S.R.,"ADDL,Kadapa","Dr. D.P.V.RAMANA, M.V.Sc., Assistant Director ...",9.989997e+09,8.562277e+09,8.562277e+09,nagendraaddl@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."

In [14]:
df

,SNo,State Name,District Name,ADDL,Person Name,Mobile,Contact No,Fax No,EMail,Address
0,1,CHANDIGARH,NaN,CHANDIGARH,CHANDIGARH,NaN,NaN,NaN,NaN,CHANDIGARH
1,2,GOA,NaN,DISEASE INVESTIGATION UNIT,Dr. U. V. T. Pedneka,9.890720e+09,8.322463e+07,8.322463e+07,NaN,"DISEASE INVESTIGATION UNIT, Directorate of Animal"
2,3,GUJARAT,NaN,Poultry Disease Investigation Lab,Dr.M.G.Prajapati,2.637258e+09,2.637258e+09,2.637258e+09,nic@nic.in,Poultry Disease Investigation Office Veterinar...
3,4,HARYANA,NaN,District Disease Diagnostic Lab. Deptt of Animal,Dr Rupesh Yadav,1.274226e+09,1.274226e+09,1.274226e+09,rupesh.yadav@gmail.com,"DDDL, Govt. Veterinary. Hospital Deptt of Anim..."
4,5,HARYANA,NaN,HARYANA,HARYANA,NaN,NaN,NaN,NaN,HARYANA
...,...,...,...,...,...,...,...,...,...,...
95,96,ANDHRA PRADESH,Visakhapatnam,"ADDL,Visakhapatnam","Dr. S. Nagamani, Assistant Director (AH)",9.989933e+09,8.912754e+09,8.912754e+09,addlvizag@gmail.com,"Assistant Director (AH), Animal Disease Diagno..."
96,97,ANDHRA PRADESH,Vizianagaram,"ADDL,Vizianagaram","B.JANAKIRAMA-GUPTA, ASSISTANT DIRECTOR",9.989933e+09,8.922255e+09,8.922255e+09,addlvzm@gmail.com,"Animal Disease Diagnostic Laboratory, V.T.AGRA..."
97,98,ANDHRA PRADESH,Warangal,"ADDL,Warangal","Dr. K. Vijaya Praveen, M.V.Sc., Asst. Director...",9.989997e+09,9.989997e+09,NaN,addlwaranagal@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
98,99,ANDHRA PRADESH,West Godavari,"ADDL,Eluru",Assistant Director (AH),9.989933e+09,8.812241e+09,8.812241e+09,ramk61@rediffmail.com,Assistant Director (AH)Animal Disease Diagnost...
99,100,ANDHRA PRADESH,Y.S.R.,"ADDL,Kadapa","Dr. D.P.V.RAMANA, M.V.Sc., Assistant Director ...",9.989997e+09,8.562277e+09,8.562277e+09,nagendraaddl@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."

In [15]:
df.to_csv('Diagnostic_Laboratoryfinal.csv',index=False)

In [16]:
df.head(100)

,SNo,State Name,District Name,ADDL,Person Name,Mobile,Contact No,Fax No,EMail,Address
0,1,CHANDIGARH,NaN,CHANDIGARH,CHANDIGARH,NaN,NaN,NaN,NaN,CHANDIGARH
1,2,GOA,NaN,DISEASE INVESTIGATION UNIT,Dr. U. V. T. Pedneka,9.890720e+09,8.322463e+07,8.322463e+07,NaN,"DISEASE INVESTIGATION UNIT, Directorate of Animal"
2,3,GUJARAT,NaN,Poultry Disease Investigation Lab,Dr.M.G.Prajapati,2.637258e+09,2.637258e+09,2.637258e+09,nic@nic.in,Poultry Disease Investigation Office Veterinar...
3,4,HARYANA,NaN,District Disease Diagnostic Lab. Deptt of Animal,Dr Rupesh Yadav,1.274226e+09,1.274226e+09,1.274226e+09,rupesh.yadav@gmail.com,"DDDL, Govt. Veterinary. Hospital Deptt of Anim..."
4,5,HARYANA,NaN,HARYANA,HARYANA,NaN,NaN,NaN,NaN,HARYANA
...,...,...,...,...,...,...,...,...,...,...
95,96,ANDHRA PRADESH,Visakhapatnam,"ADDL,Visakhapatnam","Dr. S. Nagamani, Assistant Director (AH)",9.989933e+09,8.912754e+09,8.912754e+09,addlvizag@gmail.com,"Assistant Director (AH), Animal Disease Diagno..."
96,97,ANDHRA PRADESH,Vizianagaram,"ADDL,Vizianagaram","B.JANAKIRAMA-GUPTA, ASSISTANT DIRECTOR",9.989933e+09,8.922255e+09,8.922255e+09,addlvzm@gmail.com,"Animal Disease Diagnostic Laboratory, V.T.AGRA..."
97,98,ANDHRA PRADESH,Warangal,"ADDL,Warangal","Dr. K. Vijaya Praveen, M.V.Sc., Asst. Director...",9.989997e+09,9.989997e+09,NaN,addlwaranagal@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
98,99,ANDHRA PRADESH,West Godavari,"ADDL,Eluru",Assistant Director (AH),9.989933e+09,8.812241e+09,8.812241e+09,ramk61@rediffmail.com,Assistant Director (AH)Animal Disease Diagnost...
99,100,ANDHRA PRADESH,Y.S.R.,"ADDL,Kadapa","Dr. D.P.V.RAMANA, M.V.Sc., Assistant Director ...",9.989997e+09,8.562277e+09,8.562277e+09,nagendraaddl@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."

In [29]:
import pandas as pd
import sqlite3
conn = sqlite3.connect(r"D:\saurabh\code\bhoomija\bhoomi\rekha.db")
#conn.text_factory = bytes
conn.text_factory = lambda b: b.decode(errors = 'ignore')
State_Name="Karnataka"
q="select * from Diagnostic_Laboratory;"
df = pd.read_sql_query(q, conn)
df.fillna('')
print(q)
df

select * from Diagnostic_Laboratory;

,SNo,State Name,District Name,ADDL,Person Name,Mobile,Contact No,Fax No,EMail,Address
0,1,CHANDIGARH,,CHANDIGARH,CHANDIGARH,,,,,CHANDIGARH
1,2,GOA,,DISEASE INVESTIGATION UNIT,Dr. U. V. T. Pedneka,9890719759.0,83224629.0,83224629.0,,"DISEASE INVESTIGATION UNIT, Directorate of Animal"
2,3,GUJARAT,,Poultry Disease Investigation Lab,Dr.M.G.Prajapati,2637258212.0,2637258212.0,2637258212.0,nic@nic.in,Poultry Disease Investigation Office Veterinar...
3,4,HARYANA,,District Disease Diagnostic Lab. Deptt of Animal,Dr Rupesh Yadav,1274225936.0,1274225936.0,1274225936.0,rupesh.yadav@gmail.com,"DDDL, Govt. Veterinary. Hospital Deptt of Anim..."
4,5,HARYANA,,HARYANA,HARYANA,,,,,HARYANA
...,...,...,...,...,...,...,...,...,...,...
95,96,ANDHRA PRADESH,Visakhapatnam,"ADDL,Visakhapatnam","Dr. S. Nagamani, Assistant Director (AH)",9989932834.0,8912754312.0,8912754312.0,addlvizag@gmail.com,"Assistant Director (AH), Animal Disease Diagno..."
96,97,ANDHRA PRADESH,Vizianagaram,"ADDL,Vizianagaram","B.JANAKIRAMA-GUPTA, ASSISTANT DIRECTOR",9989932825.0,8922255461.0,8922255461.0,addlvzm@gmail.com,"Animal Disease Diagnostic Laboratory, V.T.AGRA..."
97,98,ANDHRA PRADESH,Warangal,"ADDL,Warangal","Dr. K. Vijaya Praveen, M.V.Sc., Asst. Director...",9989997441.0,9989997441.0,,addlwaranagal@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."
98,99,ANDHRA PRADESH,West Godavari,"ADDL,Eluru",Assistant Director (AH),9989932851.0,8812241368.0,8812241368.0,ramk61@rediffmail.com,Assistant Director (AH)Animal Disease Diagnost...
99,100,ANDHRA PRADESH,Y.S.R.,"ADDL,Kadapa","Dr. D.P.V.RAMANA, M.V.Sc., Assistant Director ...",9989997101.0,8562276505.0,8562276505.0,nagendraaddl@gmail.com,"Animal Disease Diagnostic Laboratory, Veterina..."

In [30]:
conn.close()

In [31]:
import numpy as np
import pandas as pd
df=pd.read_csv('msp.csv')
df

,Commodity,Variety,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21
0,PADDY,Common,1000,1080,1250,1310,1360,1410.0,1470.0,1550.0,1750.0,1815.0,1868.0
1,PADDY,Grade 'A',1030,1110,1280,1345,1400,1450.0,1510.0,1590.0,1770.0,1835.0,1888.0
2,JOWAR,Hybrid,880,980,1500,1500,1530,1570.0,1625.0,1700.0,2430.0,2550.0,2620.0
3,JOWAR,Maldandi,900,1000,1520,1520,1550,1590.0,1650.0,1725.0,2450.0,2570.0,2640.0
4,BAJRA,NaN,880,980,1175,1250,1250,1275.0,1330.0,1425.0,1950.0,2000.0,2150.0
5,MAIZE,NaN,880,980,1175,1310,1310,1325.0,1365.0,1425.0,1700.0,1760.0,1850.0
6,RAGI,NaN,965,1050,1500,1500,1550,1650.0,1725.0,1900.0,2897.0,3150.0,3295.0
7,Tur (Arhar),NaN,3000,3200,3850,4300,4350,4625.0,5050.0,5450.0,5675.0,5800.0,6000.0
8,MOONG,NaN,3170,3500,4400,4500,4600,4850.0,5225.0,5575.0,6975.0,7050.0,7196.0
9,URAD,NaN,2900,3300,4300,4300,4350,4625.0,5000.0,5400.0,5600.0,5700.0,6000.0
10,COTTON,Medium Staple,2500,2800,3600,3700,3750,3800.0,3860.0,4020.0,5150.0,5255.0,5515.0
11,COTTON,Long Staple,3000,3300,3900,4000,4050,4100.0,4160.0,4320.0,5450.0,5550.0,5825.0
12,Groundnut,NaN,2300,2700,3700,4000,4000,4030.0,4220.0,4450.0,4890.0,5090.0,5275.0
13,SUNFLOWER SEED,NaN,2350,2800,3700,3700,3750,3800.0,3950.0,4100.0,5388.0,5650.0,5885.0
14,SOYABEAN,Black,1400,1650,2200,2500,2500,NaN,NaN,3050.0,3399.0,3710.0,NaN
15,SOYABEAN,Yellow,1440,1690,2240,2560,2560,2600.0,2775.0,NaN,NaN,NaN,3880.0
16,SESAMUM,NaN,2900,3400,4200,4500,4600,4700.0,5000.0,5300.0,6249.0,6485.0,6855.0
17,NIGERSEED,NaN,2450,2900,3500,3500,3600,3650.0,3825.0,4050.0,5877.0,5940.0,6695.0
18,WHEAT,NaN,1120,1285,1350,1400,1450,1525.0,1625.0,1735.0,1840.0,1925.0,1975.0
19,BARLEY,NaN,780,980,980,1100,1150,1225.0,1325.0,1410.0,1440.0,1525.0,1600.0
20,GRAM,NaN,2100,2800,3000,3100,3175,3500.0,4000.0,4400.0,4620.0,4875.0,5100.0
21,MASUR (LENTIL),NaN,2250,2800,2900,2950,3075,3400.0,3950.0,4250.0,4475.0,4800.0,5100.0
22,Rapeseed & Mustard,NaN,1850,2500,3000,3050,3100,3350.0,3700.0,4000.0,4200.0,4425.0,4650.0
23,SAFFLOWER,NaN,1800,2500,2800,3000,3050,3300.0,3700.0,4100.0,4945.0,5215.0,5327.0
24,TORIA,NaN,1780,2425,2970,3020,3020,3290.0,3560.0,3900.0,4190.0,442.0,NaN
25,COPRA,Milling,4450,4525,5100,5250,5250,5550.0,5950.0,6500.0,7511.0,9521.0,9960.0
26,JUTE,NaN,1575,1675,2200,2300,2400,2700.0,3200.0,3500.0,3700.0,3950.0,4225.0

In [33]:
import pandas as pd
import sqlite3
conn = sqlite3.connect(r"D:\saurabh\code\bhoomija\bhoomi\rekha.db")
#conn.text_factory = bytes
conn.text_factory = lambda b: b.decode(errors = 'ignore')
#State_Name="Karnataka"
q="select * from msp;"
df = pd.read_sql_query(q, conn)
df.fillna('')
print(q)
df

select * from msp;

,Commodity,Variety,2010-11,2011-12,2012-13,2013-14,2014-15,2015-16,2016-17,2017-18,2018-19,2019-20,2020-21
0,PADDY,Common,1000,1080,1250,1310,1360,1410,1470,1550,1750,1815,1868
1,PADDY,Grade 'A',1030,1110,1280,1345,1400,1450,1510,1590,1770,1835,1888
2,JOWAR,Hybrid,880,980,1500,1500,1530,1570,1625,1700,2430,2550,2620
3,JOWAR,Maldandi,900,1000,1520,1520,1550,1590,1650,1725,2450,2570,2640
4,BAJRA,,880,980,1175,1250,1250,1275,1330,1425,1950,2000,2150
5,MAIZE,,880,980,1175,1310,1310,1325,1365,1425,1700,1760,1850
6,RAGI,,965,1050,1500,1500,1550,1650,1725,1900,2897,3150,3295
7,Tur (Arhar),,3000,3200,3850,4300,4350,4625,5050,5450,5675,5800,6000
8,MOONG,,3170,3500,4400,4500,4600,4850,5225,5575,6975,7050,7196
9,URAD,,2900,3300,4300,4300,4350,4625,5000,5400,5600,5700,6000
10,COTTON,Medium Staple,2500,2800,3600,3700,3750,3800,3860,4020,5150,5255,5515
11,COTTON,Long Staple,3000,3300,3900,4000,4050,4100,4160,4320,5450,5550,5825
12,Groundnut,,2300,2700,3700,4000,4000,4030,4220,4450,4890,5090,5275
13,SUNFLOWER SEED,,2350,2800,3700,3700,3750,3800,3950,4100,5388,5650,5885
14,SOYABEAN,Black,1400,1650,2200,2500,2500,,,3050,3399,3710,
15,SOYABEAN,Yellow,1440,1690,2240,2560,2560,2600,2775,,,,3880
16,SESAMUM,,2900,3400,4200,4500,4600,4700,5000,5300,6249,6485,6855
17,NIGERSEED,,2450,2900,3500,3500,3600,3650,3825,4050,5877,5940,6695
18,WHEAT,,1120,1285,1350,1400,1450,1525,1625,1735,1840,1925,1975
19,BARLEY,,780,980,980,1100,1150,1225,1325,1410,1440,1525,1600
20,GRAM,,2100,2800,3000,3100,3175,3500,4000,4400,4620,4875,5100
21,MASUR (LENTIL),,2250,2800,2900,2950,3075,3400,3950,4250,4475,4800,5100
22,Rapeseed & Mustard,,1850,2500,3000,3050,3100,3350,3700,4000,4200,4425,4650
23,SAFFLOWER,,1800,2500,2800,3000,3050,3300,3700,4100,4945,5215,5327
24,TORIA,,1780,2425,2970,3020,3020,3290,3560,3900,4190,442,
25,COPRA,Milling,4450,4525,5100,5250,5250,5550,5950,6500,7511,9521,9960
26,JUTE,,1575,1675,2200,2300,2400,2700,3200,3500,3700,3950,4225

In [44]:
df['Final']="MSP for "+df['Commodity']+" "+df['Variety']+" is Rs. "+df['2020-21']+" in 2020-21"
df.dropna(inplace=True)
for i in df["Final"]:
    print(i)

MSP for PADDY Common is Rs. 1868 in 2020-21
MSP for PADDY Grade 'A' is Rs. 1888 in 2020-21
MSP for JOWAR Hybrid is Rs. 2620 in 2020-21
MSP for JOWAR Maldandi is Rs. 2640 in 2020-21
MSP for BAJRA  is Rs. 2150 in 2020-21
MSP for MAIZE  is Rs. 1850 in 2020-21
MSP for RAGI  is Rs. 3295 in 2020-21
MSP for Tur (Arhar)  is Rs. 6000 in 2020-21
MSP for MOONG  is Rs. 7196 in 2020-21
MSP for URAD  is Rs. 6000 in 2020-21
MSP for COTTON Medium Staple is Rs. 5515 in 2020-21
MSP for COTTON Long Staple is Rs. 5825 in 2020-21
MSP for Groundnut  is Rs. 5275 in 2020-21
MSP for SUNFLOWER SEED  is Rs. 5885 in 2020-21
MSP for SOYABEAN Black is Rs.  in 2020-21
MSP for SOYABEAN Yellow is Rs. 3880 in 2020-21
MSP for SESAMUM  is Rs. 6855 in 2020-21
MSP for NIGERSEED  is Rs. 6695 in 2020-21
MSP for WHEAT  is Rs. 1975 in 2020-21
MSP for BARLEY  is Rs. 1600 in 2020-21
MSP for GRAM  is Rs. 5100 in 2020-21
MSP for MASUR (LENTIL)  is Rs. 5100 in 2020-21
MSP for Rapeseed & Mustard  is Rs. 4650 in 2020-21
MSP for SAFFLOWER  is Rs. 5327 in 2020-21
MSP for TORIA  is Rs.  in 2020-21
MSP for COPRA Milling is Rs. 9960 in 2020-21
MSP for JUTE  is Rs. 4225 in 2020-21